{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  {% if triggers|length == 1 %}
    <p>
      {% blocktranslate with trigger_name=triggers.0.name %}
        Trigger: {{ trigger_name }}
      {% endblocktranslate %}
    </p>
  {% else %}
    <p>
      {% blocktranslate with trigger_count=triggers|length %}
        Selected triggers: {{ trigger_count }}
      {% endblocktranslate %}
    </p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_name }}" />
    <input type="hidden" name="apply" value="1" />
    {{ form.as_p }}
    <div class="submit-row">
      <button
        type="submit"
        class="default"
        style="min-width: 132px; padding: 6px 12px;"
      >
        {% trans "Show timeline" %}
      </button>
    </div>
  </form>
{% endblock %}
